@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

<!DOCTYPE html>
<html lang="es" data-bs-theme="light" id="mainHtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - TIdentity</title>

  <!-- Boostrap css -->
  <link href="~/css/bootstrap.min.personalized.css" rel="stylesheet" />

  <!-- My styles -->
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

  <!-- Icons Fontawesome cdn -->
  <script src="https://kit.fontawesome.com/56d0ffeffa.js"
          crossorigin="anonymous"></script>

  <!-- Aos (animation library) -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

  <!-- Sweetalert2 script -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>

  <!-- Sweetalert2 css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">

  <!-- Datatables -->
  <link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-html5-2.4.2/b-print-2.4.2/r-2.5.0/datatables.min.css" rel="stylesheet">


</head>
<body class="d-flex flex-column vh-100">
  @if (!SignInManager.IsSignedIn(User))
  {
    <header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-primary bg-primary box-shadow" data-bs-theme="dark">
        <div class="container">
          <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TIdentity</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
              <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
              </li>
            </ul>
            <partial name="_LoginPartial" />
          </div>
        </div>
      </nav>
    </header>
    <div class="flex-shrink-0 h-100">
      <main role="main" class="container-fluid">
        @RenderBody()
      </main>
    </div>

    <footer class="d-block mt-auto py-5 bg-body-tertiary">
      <div class="container">
        &copy; 2024 - TIdentity - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
      </div>
    </footer>
  }
  else
  {
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />

    <div id="body-pd" class="flex-shrink-0">
      <header class="header" id="header">
        <div class="header_toggle">
          <i class="fa-solid fa-bars" id="header-toggle"></i>

        </div>
        <a class="header_img" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
          <img src="~/images/avatar.png" alt="" />
        </a>
      </header>

      <div class="l-navbar" id="nav-bar">
        <nav class="nav">
          <div>
            <a class="nav_logo" asp-controller="Home" asp-action="Index">
              <i class="fa-solid fa-building nav_logo-icon"></i>
              <span class="nav_logo-name">TIdentity</span>
            </a>
            <div class="nav_list">

              @if (User.IsInRole("SUPERADMIN"))
              {
                <a class="nav_link" asp-controller="Superadmin" asp-action="ReadUsers">
                  <i class="fa-solid fa-users"></i>
                  <span class="nav_name">Usuarios</span>
                </a>
                <a class="nav_link" asp-controller="Superadmin" asp-action="ReadRoles">
                  <i class="fas fa-id-card nav_icon"></i>
                  <span class="nav_name">Roles</span>
                </a>
                <a class="nav_link" asp-controller="Superadmin" asp-action="ReadUserRoles">
                  <i class="fa-solid fa-address-book"></i>
                  <span class="nav_name">Roles de usuario</span>
                </a>

              }
              @*  @if (User.IsInRole("SUPERADMIN") || User.IsInRole("ORGANIZACION"))
            {
            <a class="nav_link" asp-controller="Organizacion" asp-action="ListCoordinadorOrganizacion">
            <i class="fa-solid fa-people-roof nav_icon"></i>
            <span class="nav_name">Coordinador organizacion</span>
            </a>
            <a class="nav_link" asp-controller="OportunidadesPracticas" asp-action="Index">
            <i class="fa-solid fa-briefcase nav_icon"></i>
            <span class="nav_name">Oportunidad practicas</span>
            </a>
            } *@
            </div>
          </div>
          <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" style="background: none; border:none" class="nav_link">
              <i class="bx bx-log-out nav_icon"></i>
              <span class="nav_name">Cerrar sesion</span>
            </button>
          </form>
        </nav>
      </div>
    </div>
    <main role="main" class="container-fluid pt-4">
      @RenderBody()
    </main>

    <footer class="d-block mt-auto py-4 text-body-secondary">
      <div class="container border-top py-3">
        &copy;
        <script>document.write(new Date().getFullYear());</script>
        - TIdentity | <a href="https://www.t-systems.com/mx/es" target="_blank"> T-Systems Mexico S.A. de C.V.</a>

      </div>
    </footer>
  }

  <button class="scrollTop btn-translucid hidden btn-outline-primary">
    <i class="fa-solid fa-circle-up"></i>
  </button>

  <div class="btn-group btnChangeTheme">
    <button type="button" id="messageTheme" class="btn btn-primary btn-translucid dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Tema
    </button>
    <ul class="translucid dropdown-menu">
      <li><button class="dropdown-item" onclick="changeTheme('light')">Claro</button></li>
      <li><button class="dropdown-item" onclick="changeTheme('dark')">Oscuro</button></li>
    </ul>
  </div>

  <!-- JQuery -->
  <script src="~/lib/jquery/dist/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Aos JS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" asp-append-version="true" async></script>

  <!-- Datatables -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" defer></script>
  <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-html5-2.4.2/b-print-2.4.2/r-2.5.0/datatables.min.js" defer></script>

  <script src="~/js/datatables.js" asp-append-version="true" defer></script>

  <!-- My scripts -->
  <script src="~/js/site.js" asp-append-version="true"></script>

  <script>
    // Aplicar el tema guardado al cargar la página
    const storedTheme = localStorage.getItem('theme');
    if (storedTheme) {
      const htmlElement = document.getElementById('mainHtml');
      htmlElement.setAttribute('data-bs-theme', storedTheme);
    }
  </script>

  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
